<div class="sidenav">
  <div class="spinner">
    <h1 class="title">MyNotePad</h1>
  </div>
 
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="main-content-wrapper">
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/registrar" routerLinkActive="active">Registrar</a>
      <a routerLink="/iniciar-sesion" routerLinkActive="active">Iniciar sesión</a>
    </div>
  </div>
</div>
