<!-- <app-sidenav></app-sidenav> -->

<div class="formRegister">
  <img class="imgRegister"src="./assets/img logo notas.png">
  <h1>Crear cuenta</h1>
  <form [formGroup]="formRegister" (ngSubmit)="onRegister(formRegister.value)">
    <input
      type="email"
      formControlName="email"
      placeholder="correo electrónico"
      class="email"
    >
    <input
      type="password"
      formControlName="password"
      placeholder="Contraseña"
      class="password"
    >
    <button type="submit" class="register">Registrarse</button>
  </form>
</div>
