.formRegister{
    display:flex;
    flex-direction:column;
    padding:99px; 
}
.imgRegister{
    width: 24vw;
    height: 19vh;
    margin-left: 26vw;
}
h1{
    text-align: center;
    font-size: 47px;
    margin-top: 1.5vh;
}

input{
    height: 7vh;
    width: 72vw;
    font-size: 30px;
}
.email{
    margin-top:2vh;
}

.password{
    margin-top:1.5vh;
}
.register{
    margin-top:2.5vh;
    background: #D2BCBC;
    height: 7vh;
    width: 73vw;
    font-size: 30px;
}