.formRegister{
    padding:18vw;
}
.imgRegister{
    width: 26vw;
    height: 21vh;
    margin-left: 20vw;
}
h1{
    text-align: center;
    font-size: 47px;
    margin: 2.6vh;
}

input{
    height: 7vh;
    width: 63vw;
    font-size: 30px;
}
.email{
    margin-top:2vh;
}

.password{
    margin-top:2vh;
}
.register{
    margin-top:2.5vh;
    background: #D2BCBC;
    height: 7vh;
    width: 64vw;
    font-size: 30px;
}