h2{
    text-align: center;
    font-size: 30px
}
.form-Note{
    padding: 15vw;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.form-Title{
    height: 5vh;
    width: 58vw;
    font-size: 28px;
    background: #D2BCBC;
    margin-bottom: 1vh;
}
.form-Description{
    height: 20vh;
    width: 58.2vw; 
    font-size: 26px;
    background: #D2BCBC;        
}

button{
    width: 29vw;
    height: 4.5vh;
    font-size: 25px;
    color: ghostwhite;
    background:#A97B7B;
}
.btn-back{
    margin-left: 8px;
}
    
