<div class="form-Note">
  <div>
  <h2>{{ titulo }}</h2>
  <!-- <span *ngIf="submitted && createNote.invalid" class="badge">TODOS LOS CAMPOS SON OBLIGATORIOS</span> -->
  <form [formGroup]="createNote">
     <div >
        <input type="text" formControlName="title" class="form-Title" placeholder="Título de la nota" autofocus>
     </div>
     <div>
      <textarea name="texto" formControlName="description" rows="10" class="form-Description" placeholder="Descripción de la nota"></textarea>
     </div>
     <div>
        <button type="button" class="btn" (click)="addEditNote($event)">Crear</button>
        <button type="button" class="btn-back"  routerLink="/notas">Cancelar</button>
     </div>
  </form> 
</div>
</div>