.home-Notes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vw;
}
.img-Notes{
    width: 9vw;
    height: 10vh;
}
.title-Notes{
    margin-top: 12vh;
    font-size: 5vw;
}
.btn-Logout{
    height: 8vh;
    width: 8vh;
    margin-top: 1vh;
    /* background: #D2BCBC; */
} 
.cont-Notes{
    display: flex;
    flex-direction: column;
}
.list-Notes{
    display: flex;
    flex-direction: row;
    width: 600px; 
    border: 3px solid #555;
    background: #D2BCBC;
    border-radius:55px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    transform: scale(1);
    transition: 0.3s transform;
}
.list-Notes:hover{
    transform: scale(1.2);
}

.detail-Note{
    display: inline-block;
    /* width: 600px; 
    border: 3px solid #555;
    background: #D2BCBC;
    border-radius:65px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 20px 20px 20px 20px; */
}
h3{
    font-size: 4vw;
    margin-left: 50px;

}
h2{
    font-size: 4vw;
}
p{
    white-space:pre-wrap;
    font-size: 3vw;
}
.jj{
    position: absolute;
    right: 100px;
    /* margin: 50px; */
}
.img-Editar{
    width: 5vw;
    height: 4vh;
    
}
.img-Eliminar{
    width: 5vw;
    height: 4vh;
    margin-left: 15px;
}
















/* .title-table{
    text-align: left;
}
th{
    font-size: 20px;
}
td {
    padding: 16px;
    font-size: 18px;
}
.btn-Detalle{
    background: #D2BCBC;
} */

