.home-Notes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
}
.img-Notes{
    width: 9vw;
    height: 9vh;
}
.list-Notes{
    margin: 8vh;
    font-size: 5vw;
}
.btn-Logout{
    margin: 2.7vh;
    font-size: 3vw;
    height: 3vh;
    background: #D2BCBC;
} 
.title-table{
    text-align: left;
}
td {
    padding: 16px;
}
.img-Editar{
    width: 5vw;
    height: 4vh;
}
.img-Eliminar{
    width: 5vw;
    height: 4vh;
}
.btn-Detalle{
    background: #D2BCBC;
}