
.contents{
    /* top:100vh;  */
    display:flex;
    flex-direction:column;
    padding:18VW
}

.imgHome{
    width: 63vw;
    height: 32vh;
}
.title{
    font-size: 32px;
    margin-top: 6vh;
    text-align: center;

}
.paragraph{
    font-size: 20px;
    margin-top: 2vh;
}