
.contents{
    display:flex;
    flex-direction:column;
    padding:13VW
}

.imgHome{
    width: 73.5vw;
    height: 38vh;
}
.title{
    font-size: 35px;
    margin-top: 6vh;
    text-align: center;

}
.paragraph{
    font-size: 28px;
    margin-top: 2vh;
}