.formLogin{
    top:100vh; 
    display:flex;
    flex-direction:column;
    padding:20VW;
}
h1{
    text-align: center;
    font-size: 40px;
}

input{
    height: 5vh;
    font-size: 28px;
}
.email{
    margin-top:2vh;
}

.password{
    margin-top:1.9vh;
}
.login{
    margin-top:2vh;
    background: #D2BCBC;
    height: 5vh;
    font-size: 28px;  
}
.texto{
    display:inline-block;
    position: relative;
    text-align: center;
    margin-top: 2vh;
    font-size: 28px; 

}
.texto::after,.texto::before{
content:'';
position:absolute;
width: 27vw;
height: 0.2vh;
background-color: black;
top: 0.3em;
}
.texto::before{
    left: 2px;
}
.texto::after{
    right: 2px; 

}
.loginGoogle{
    margin-top:1.9vh;
    height: 5vh;
    font-size: 28px;  
}
