.formLogin{
    display:flex;
    flex-direction:column;
    padding:75px; 
}
.imgLogin{
    width: 24vw;
    height: 19vh;
    margin-left: 28vw;
}
h1{
    text-align: center;
    font-size: 47px;
    margin-top: 1.5vh;
}

input{
    height: 7vh;
    width: 72vw;
    font-size: 30px;
    margin-left: 24px;
}
.email{
    margin-top:2vh;
}

.password{
    margin-top:1.5vh;
}
.login{
    margin-top:2vh;
    background: #D2BCBC;
    height: 7vh;
    width: 73vw;
    font-size: 30px;
    margin-left: 24px;
}
.texto{
    display:inline-block;
    position: relative;
    text-align: center;
    margin-top: 3vh;
    font-size: 28px; 
    margin-left: px;

}
.texto::after,.texto::before{
content:'';
position:absolute;
width: 32vw;
height: 0.3vh;
background-color: black;
top: 0.3em;
}
.texto::before{
    left: 27px;
}
.texto::after{
    right: 34px; 

}
.loginGoogle{
    margin-top:2vh;
    background: #ffffff;
    height: 7vh;
    width: 73vw;
    font-size: 30px; 
    margin-left: 24px; 
}
.imgGoogle{
    width: 8vw;
    height: 6vh;
    position: absolute;
    margin-top: 61.5vh;
    margin-left: 12vw;
}
